@model LogoModel
@using Nop.Web.Models.Common;
<a href="@Url.RouteUrl("HomePage")" class="navbar-brand">
    <img class="noo-logo-img noo-logo-normal" title="" alt="@Model.StoreName" src="@Model.LogoPath">
</a>